.table {
  padding: 5px;
  width: 100%;
  overflow-x: auto;

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.4rem;

    @media screen and (max-width: 500px) {
      p {
        font-size: 1.3rem;
      }
    }

    thead {
      border-top: 2px solid var(--light-blue);
      border-bottom: 2px solid var(--light-blue);
    }

    th {
      border: 1px solid #eee;
    }

    th,
    td {
      vertical-align: top;
      text-align: left;
      padding: 8px;
      &.icons {
        > * {
          margin-right: 5px;
          cursor: pointer;
        }
      }
    }

    tr {
      border-bottom: 1px solid #ccc;
    }

    tr:nth-child(even) {
      background-color: #eee;
    }
  }
  .summary {
    margin-top: 2rem;
    // display: flex;
    // justify-content: space-between;
    // align-items: start;

    .flx {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 1rem;
    }

    @media screen and (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }

    .card {
      padding: 1rem;
      .text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
          color: var(--color-danger);
        }
      }
      button {
        margin-top: 5px;
      }
    }
  }
}

.checkout {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;

  @media screen and (max-width: 700px) {
    justify-content: center;
  }
}
.count {
  display: flex;
  align-items: center;
  button {
    border: 1px solid var(--darkblue);
  }
  & > * {
    margin-right: 1rem;
  }
}

.icon {
  background-color: rgb(240, 238, 238);
  padding: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 58vh;
}

.empty1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.cartp {
  font-size: 20px;
}

section {
  min-height: 85vh;
}
