.charts {
  width: 100%;
  max-width: 500px;
  .card {
    padding: 1rem;
    border: 1px solid #ccc;
    border-bottom: 3px solid var(--color-danger);
  }
}

// .card {
//   border: 1px solid transparent;
//   border-radius: 5px;
//   box-shadow: var(--box-shadow);
//   overflow: hidden;
//   // width: 50%;
// }
